*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f0f0f0;
}
.btn_green{
    min-width: 150px;
    min-height: 48px;
    color: #FFFFFF;
padding: 4px 15px;
border-radius: 8px;
background: #214e51;
font-size: 20px;
font-family: Raleway;
font-weight: 600;
cursor: pointer;
transition: 0.5s;
text-align: center;
border: none;
}

.btn_green:hover{
    color: #214e51;
    background: #FFFFFF;
    transform: scale(1.05);
  }

.btn_white{
    min-height: 48px;
    min-width: 150px;
    color: #214e51;
    padding: 4px 15px;
    border-radius: 8px;
    background: #FFFFFF;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    
}
.btn_white:hover{
    color: #FFFFFF;
    background: #214e51;
    transform: scale(1.05);
  }

  .btn_white_transparent{
    min-height: 48px;
    min-width: 138px;
    color: #FFFFFF;
    padding: 4px 15px;
    border-radius: 8px;
    background: transparent;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    border: 1px solid #fff;
}

  .container{
    padding-left:5% ;
    padding-right:5% ;
  }